.frameChild,
.vectorWrapper {
  max-width: 100%;
  flex-shrink: 0;
}
.frameChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  max-height: 100%;
}
.vectorWrapper {
  margin-left: -763.5px;
  height: 635.5px;
  width: 558px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 481.5px 0 0;
  box-sizing: border-box;
}
.images132 {
  height: 128px;
  width: 211px;
  position: absolute;
  margin: 0 !important;
  top: -32px;
  left: calc(50% - 105.5px);
  border-radius: var(--br-xl);
  object-fit: cover;
  z-index: 1;
}
.makeupImageDownloadButtonChild {
  height: 253px;
  width: 247px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.makeupImageDownloadButtonCChild {
  height: 46px;
  width: 113px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
  display: none;
}
.div {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  z-index: 2;
}
.makeupImageDownloadButtonC {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-mini)
    var(--padding-15xl);
  z-index: 1;
}
.makeupImageDownloadButton {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: 166px 67px 41px;
}
.makeupImageDownload,
.makeupImageDownloadButton,
.makeupService {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.makeupImageDownload {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.makeupService {
  width: 247px;
  flex-direction: column;
  gap: var(--gap-83xl);
}
.download251 {
  height: 155px;
  width: 208px;
  position: absolute;
  margin: 0 !important;
  top: -46px;
  left: 19px;
  border-radius: var(--br-xl);
  object-fit: cover;
  z-index: 1;
}
.download251Parent,
.makeupService1,
.makeupServiceParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.download251Parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.makeupService1,
.makeupServiceParent {
  width: 247px;
  flex-direction: column;
  gap: var(--gap-83xl);
}
.makeupServiceParent {
  width: 731.5px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.getImageDataById43 {
  height: 131px;
  width: calc(100% - 23px);
  position: absolute;
  margin: 0 !important;
  top: -43px;
  right: 12px;
  left: 11px;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frameItem {
  width: 247px;
  height: 253px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.div1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  z-index: 1;
}
.nailViewButtonContainerChild {
  height: 46px;
  width: 113px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
  display: none;
}
.div2 {
  flex: 1;
  position: relative;
  font-size: var(--body-strong-size);
  line-height: 140%;
  font-weight: 600;
  font-family: var(--body-strong);
  color: var(--color-snow-100);
  text-align: center;
  z-index: 2;
}
.nailViewButtonContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-8xl) var(--padding-smi);
  background-color: var(--color-orange-100);
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.nailViewButtonContainer:hover {
  background-color: var(--color-chocolate);
}
.nailViewButtonContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 var(--padding-mid);
}
.rectangleParent {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-126xl) var(--padding-33xl) var(--padding-mid) 50px;
  gap: var(--gap-4xl);
}
.nailService {
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.getImageDataById12 {
  height: 148px;
  width: calc(100% - 15px);
  position: absolute;
  margin: 0 !important;
  top: -52px;
  right: 8px;
  left: 7px;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.noTheOtherHandWeDenounce,
.title {
  position: absolute;
  top: 0;
  left: 28px;
  border-radius: 50%;
  background-color: var(--color-orange-200);
  width: 180px;
  height: 180px;
  z-index: 1;
}
.noTheOtherHandWeDenounce {
  top: 126px;
  left: 0;
  z-index: 2;
}
.titleParent {
  height: 286px;
  width: 160px;
  position: absolute;
  margin: 0 !important;
  right: -132px;
  bottom: -129px;
}
.blankService {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.blankServiceWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xs);
}
.blankServiceWrapper,
.desktop9,
.frameParent,
.nailServiceParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nailServiceParent {
  width: 256px;
  flex-direction: column;
  gap: var(--gap-83xl);
  flex-shrink: 0;
  color: var(--color-black);
}
.desktop9,
.frameParent {
  box-sizing: border-box;
}
.frameParent {
  width: 1423px;
  flex-direction: row;
  padding: 0 115px;
  gap: 205.5px;
  max-width: 100%;
  text-align: center;
  font-size: var(--body-strong-size);
  color: var(--color-snow-100);
  font-family: var(--body-strong);
}
.desktop9 {
  position: relative;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-white);
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  padding: 0 0 101.5px;
  gap: 89px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .frameParent {
    flex-wrap: wrap;
    gap: 103px;
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-38xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .vectorWrapper {
    padding-top: 313px;
    box-sizing: border-box;
  }
  .makeupServiceParent {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-32xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .desktop9 {
    gap: 44px;
  }
}
@media screen and (max-width: 450px) {
  .nailServiceParent {
    gap: var(--gap-32xl);
  }
  .frameParent {
    gap: var(--gap-7xl);
  }
  .desktop9 {
    gap: var(--gap-3xl);
  }
}
