.getImageDataById54 {
  height: 145px;
  width: calc(100% - 27px);
  position: absolute;
  margin: 0 !important;
  top: -29px;
  right: 14px;
  left: 13px;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.makeupTitleChild {
  width: 247px;
  height: 253px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.div {
  width: 111px;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.makeupViewButtonContainerChild {
  height: 46px;
  width: 113px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange-100);
  display: none;
}
.div1 {
  flex: 1;
  position: relative;
  font-size: var(--body-strong-size);
  line-height: 140%;
  font-weight: 600;
  font-family: var(--body-strong);
  color: var(--color-snow-100);
  text-align: center;
  z-index: 2;
}
.makeupViewButtonContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-smi)
    var(--padding-15xl);
  background-color: var(--color-orange-100);
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.makeupViewButtonContainer:hover {
  background-color: var(--color-chocolate);
}
.makeupTitle,
.makeupViewButton {
  display: flex;
  justify-content: flex-end;
}
.makeupViewButton {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.makeupTitle {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-131xl) var(--padding-55xl) var(--padding-xs)
    var(--padding-35xl);
  gap: var(--gap-4xl);
}
.makeupImageAndTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--body-strong-size);
  color: var(--color-black);
  font-family: var(--body-strong);
}
