@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-strong: Inter;

  /* font sizes */
  --body-strong-size: 16px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-21xl: 40px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fffefe;
  --color-gray-200: #fefeff;
  --color-gray-300: #fffdfd;
  --color-gray-400: #fdfdfd;
  --color-gray-500: #fefcfc;
  --color-gray-600: #fcfcfc;
  --color-gray-700: #757575;
  --color-gray-800: #070707;
  --color-orange-100: #ff9900;
  --color-orange-200: rgba(255, 153, 0, 0.19);
  --color-orange-300: rgba(255, 153, 0, 0.36);
  --color-orange-400: rgba(255, 185, 7, 0.7);
  --color-snow-100: #fffcfc;
  --color-snow-200: #fbfafa;
  --color-lightgray: #d9cbcb;
  --color-lavenderblush: #f4ebeb;
  --color-gainsboro-100: #e9e1e1;
  --color-gainsboro-200: #e6e1e1;
  --color-gainsboro-300: #e5dede;
  --color-gainsboro-400: #d9d9d9;
  --color-chocolate: #cc6600;
  --color-black: #000;
  --color-blueviolet: #5139e4;
  --color-ghostwhite: #f5f7fd;
  --color-mediumslateblue: #325ae6;
  --color-darkgray: #a49595;
  --color-whitesmoke: #f9f0f0;
  --color-red-100: #f90707;
  --color-lightgreen: #91e26c;

  /* Gaps */
  --gap-7xs: 6px;
  --gap-64xl: 83px;
  --gap-22xl: 41px;
  --gap-2xl: 21px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-4xs: 9px;
  --gap-50xl: 69px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-75xl: 94px;
  --gap-4xl: 23px;
  --gap-28xl: 47px;
  --gap-6xl: 25px;
  --gap-sm: 14px;
  --gap-82xl: 101px;
  --gap-31xl: 50px;
  --gap-mini: 15px;
  --gap-9xl: 28px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-8xl: 27px;
  --gap-14xl: 33px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-23xl: 42px;
  --gap-2xl-8: 21.8px;
  --gap-base-3: 15.3px;
  --gap-6xs-4: 6.4px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-7xs-5: 5.5px;
  --gap-3xl: 22px;
  --gap-7xl: 26px;
  --gap-32xl: 51px;
  --gap-83xl: 102px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-57xl: 76px;
  --padding-4xl: 23px;
  --padding-mini: 15px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-5xl: 24px;
  --padding-170xl: 189px;
  --padding-75xl: 94px;
  --padding-xl: 20px;
  --padding-lgi: 19px;
  --padding-51xl: 70px;
  --padding-base: 16px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-16xl: 35px;
  --padding-6xs: 7px;
  --padding-219xl: 238px;
  --padding-100xl: 119px;
  --padding-40xl: 59px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-52xl: 71px;
  --padding-27xl: 46px;
  --padding-11xl: 30px;
  --padding-988xl: 1007px;
  --padding-484xl: 503px;
  --padding-232xl: 251px;
  --padding-17xl: 36px;
  --padding-1002xl: 1021px;
  --padding-491xl: 510px;
  --padding-236xl: 255px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-mid: 17px;
  --padding-855xl: 874px;
  --padding-418xl: 437px;
  --padding-199xl: 218px;
  --padding-65xl: 84px;
  --padding-36xl: 55px;
  --padding-10xl: 29px;
  --padding-99xl: 118px;
  --padding-sm: 14px;
  --padding-274xl: 293px;
  --padding-127xl: 146px;
  --padding-124xl: 143px;
  --padding-35xl: 54px;
  --padding-98xl: 117px;
  --padding-78xl: 97px;
  --padding-74xl: 93px;
  --padding-33xl: 52px;
  --padding-20xl: 39px;
  --padding-3xs-9: 9.9px;
  --padding-13xl: 32px;
  --padding-xs: 12px;
  --padding-15xl: 34px;
  --padding-32xl: 51px;
  --padding-8xs: 5px;
  --padding-190xl: 209px;
  --padding-25xl: 44px;
  --padding-21xl: 40px;
  --padding-73xl: 92px;
  --padding-19xl: 38px;
  --padding-26xl: 45px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-30xl: 49px;
  --padding-14xl: 33px;
  --padding-7xl: 26px;
  --padding-18xl: 37px;
  --padding-41xl: 60px;
  --padding-29xl: 48px;
  --padding-34xl: 53px;
  --padding-9xl: 28px;
  --padding-38xl: 57px;
  --padding-8xl: 27px;
  --padding-126xl: 145px;
  --padding-158xl: 177px;
  --padding-131xl: 150px;
  --padding-55xl: 74px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-981xl: 1000px;
  --br-481xl: 500px;
  --br-mini: 15px;
  --br-3xs: 10px;
}
